{% extends "base.html" %}
<style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
      .app-container {
          width: 100%;
          display: flex;
          flex-direction: row;
      }
      .dataset-input {
        padding: 20px;
      }
      .form-wrapper {
          flex: 2;
      }
      .log-wrapper {
          display: flex;
          flex-direction: column;
          flex: 1;
          border: 1px solid green;
          height: 500px;
          width: 50%
      }
      .log-container {
          width: 80%;
          margin-left:5%;
          border: 1px solid red;
          height: 80%;
      }
      .log-container__count {
          font-size: 50px;
      }
    </style>
{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div class="app-container">
    
    <!-- Form -->
    <div class="container form-wrapper">
    <div class="container">
      <h3 class="title">Calculator App</h3>
    </div>
      <form action="/profile" method="POST">
        <label for="Number One">Data Set</label>
        <input
          type="text"
          placeholder="Input Data Set"
          class="input is-info is-medium"
          name="dataset"
        />
        <label for="Operation">Operation</label>
        <select class="select is-info is-medium" name="function">
          <option value="mean">Mean</option>
          <option value="median">Median</option>
          <option value="mode">Mode</option>
          <option value="variance">Variance</option>
        </select>

        <input type="submit" value="Calculate" class="button is-danger is-large" />
        <br />
        <div class="alert">
        <h1 class="title">Answer: {{ answer }} </h1>
        </div>
      </form>
    </div>
    <div class="log-wrapper">
        <h1>Function Log</h1>
        <div class="log-container">
        <h1 class="title">{{ logCount }}</h1>
            
        </div>
    </div>
    </div>
{% endblock %}